<form [formGroup]="mathForm">
  {{ a }} {{ operatorText }} {{ b }} =
  <input appAnswerHighlight formControlName="answer" />
</form>

<hr />
<div class="box stats">
  <div>{{ secondsPerSolution | number: "1.1-2" }} seconds per answer</div>
  <div>{{ elapsedTime }} seconds elapsed</div>
  <div>{{ numberSolved }} problems solved</div>
  <div class="buttons">
    <button class="green" (click)="startGame()" [disabled]="isRunning">
      Start
    </button>
    <button (click)="resetGame()" [disabled]="!elapsedTime">Reset</button>
    <button class="red" (click)="stopGame()" [disabled]="!isRunning">
      Stop
    </button>
  </div>
</div>
